<div class="container-fluid py-3 footer">
    <div class="row d-flex justify-content-start ">
        <div class="col-7 upm d-flex justify-content-end">
            <span>Juan Lopez &copy; Copyright </span>
        </div>
        <div class="col-5  d-flex justify-content-end ">
            <a href="../users" class="text-secondary">registro de usuarios</a>
        </div>
    </div>
</div>
