<div class="cont">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="unoi">{{title}}</h1>
                <p class="mt-5">
                    {{texto}}
                </p>
                <form action="/contact " class="mt-3" method="POST">
                    <div class="form-grup mt-3">
                        <input type="text" name="name" class="form-control"  placeholder="Nombre">
                    </div>
                    <div class="form-grup mt-3">
                        <input type="text" name="surname" class="form-control"  placeholder="Apellido">
                    </div>
                    <div class="form-grup mt-3">
                        
                        <input type="email" name="email" class="form-control"  placeholder="Email">
                    </div>
                    <div class="form-grup mt-3">
                        <label for="exampleFormControlTextarea1">Comentario</label>
                        <textarea class="form-control" name="comment" ></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mt-5">enviar consulta</button>
                </form>
            </div>
        </div>

        {{#if message }}
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <span class="text-success">{{message}}</span>
            </div>
        </div>
        {{/if}}
    </div>
</div>