<div class="cont">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 columna">
            <h1>{{title}}</h1>
            <p>Guardar para siempre a quienes amamos, los momentos compartidos y cómo nos hicieron sentir</p>
            <a href="/nosotros"><button type="button" class="btn btn-secondary"> Secondary</button></a>
        </div>
    </div>
</div>
<!--servicios-->
<div class="container-fluid text-center">

    <h1 class="mt-5">servicios</h1>
    <div class="row cardt">
        <div class="col-md-4 hcard">
            <a href="/portfolio">
            <div class="card" style="width: 18rem;">
                <img src="/images/cumple.jpg" class="card-img-top" width="100%" alt="cumple">
                <div class="card-body">
                    <h3 class="card-text">Eventos infantiles</h3>
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-4 hcard">
            <a href="/portfolio">
            <div class="card" style="width: 18rem;">
                <img src="/images/casamiento.jpg" class="card-img-top" alt="casamiento">
                <div class="card-body">
                    <h3 class="card-text">Casamientos</h3>
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-4 hcard">
            <a href="/portfolio">
            <div class="card" style="width: 18rem;">
                <img src="/images/retoque.jpg" class="card-img-top" alt="adicion digital">
                <div class="card-body">
                    <h3 class="card-text">Edición artística</h3>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>
<!--sobre mi-->
<div class="container-fluid py-3 text-center sec">
    <div class="row">
        <div class="col-md-6 col-sm-12">

        </div>
        <div class="col-md-6 col-sm-12 text-me ">
            <h2>{{title2}}</h2>
            <p>
                ¡Hola! Mi nombre es Belén y soy una storyteller —o narradora de historias— desde antes de saber sobre la existencia del término.
                Comencé escribiendo cuentos a la edad de siete años y, desde allí, nunca paré: ficción, blogs, diarios íntimos, discursos escolares, cartas. 
                Lo que fuera, yo quería escribirlo para hacerlo infinito en el tiempo.  <br>

                A los 18 años elegí una carrera universitaria que pudiera permitirme seguir creciendo en eso que tanto disfrutaba: contar historias.
                Me recibí como licenciada en Periodismo por la Universidad del Salvador en el año 2019, y mi abanico para contar historias se amplió no solo a los formatos escritos, sino fotográficos y audiovisuales.

                En un mundo que se mueve enteramente por lo digital, elijo expresarme a través de la fotografía para hacer eternas a las personas que adoro. Y mi misión es hacer lo mismo por tus momentos e instantes. 
            </p>
        </div>
    </div>
</div>
<!--contacto -->
</div>


