
<div class="cont">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12  sec">
            <h1>SOBRE MÍ</h1>
            <h2>La narradora de historias</h2>
            <p>
                ¡Hola! Mi nombre es Belén y soy una storyteller —o narradora de historias— desde antes de saber sobre la existencia del término. Comencé escribiendo cuentos a la edad de siete años y, desde allí, nunca paré: ficción, blogs, diarios íntimos, discursos escolares, cartas. Lo que fuera, yo quería escribirlo para hacerlo infinito en el tiempo.  

                A los 18 años elegí una carrera universitaria que pudiera permitirme seguir creciendo en eso que tanto disfrutaba: contar historias. Me recibí como licenciada en Periodismo por la Universidad del Salvador en el año 2019, y mi abanico para contar historias se amplió no solo a los formatos escritos, sino fotográficos y audiovisuales.

                En un mundo que se mueve enteramente por lo digital, elijo expresarme a través de la fotografía para hacer eternas a las personas que adoro. Y mi misión es hacer lo mismo por tus momentos e instantes. 
            </p>
        </div>
    </div>
</div>
</div>