<div class="cont">
<div class="container-fluid">
    <div class="row ">
        <div class="col-md-12 text-center unoi">
            <h1>Servicios fotográficos</h1>
        </div>
    </div>
    <div class="row hcardit">
        <div class="col-md-4 hcard1">
            <a href="/contact">
                <div class="cardp" >
                    <img src="/images/cumple.jpg" class="card-img-top" width="100%" alt="cumple">
                    <div class="card-body">
                        <h3 class="card-text">Eventos infantiles</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 hcard1">
            <a href="/contact">
                <div class="cardp" >
                    <img src="/images/casamiento.jpg" class="card-img-top" alt="casamiento">
                    <div class="card-body">
                        <h3 class="card-text">Casamientos</h3>
                    </div>
                </div>
             </a>
        </div>
        <div class="col-md-4 hcard1">
            <a href="/contact">
                <div class="cardp" >
                    <img src="/images/retoque.jpg" class="card-img-top" alt="adicion digital">
                    <div class="card-body">
                        <h3 class="card-text">Edición artística</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
</div>